.galeria__flex-container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.8em;
    height: auto;
    justify-content: center;
    width: 95%;
    padding: 0 2.5%;
    margin-top: 3.5em;
}

.galeria__flex-item{
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px 24px 0px 0px;
    height: 400px;
    position: relative;
    transition: all .5s;
    width: auto;
    
}

.galeria__flex-item-img{
    width: 600px;
}

.galeria__flex-item:hover{
    transform: scale(1.08);
}

.galeria__flex-item .video{
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
    position: relative;
    border-radius: 24px 24px 24px 24px;
}