html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    background-color: #101010 !important;
    box-sizing: border-box;
    overflow-x: hidden;
}

header{
    height: auto;
    width: 100%;
    margin: 0;
}

.header__nav{
    display: flex;
    height: 15%;
    width: 100%;
    align-items: center;
    padding: 2em 0;
}

.nav__name{
    width: 27%;
    margin: 0;
    padding-left: 3%;
    vertical-align: middle;
    
}

.nav__lista{
    display: flex;
    width: 67%;
    height: 100%;
    padding-right: 3%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.nav__item{
    width: auto;
}

.header__quien-soy{
    display: flex;
    height:  90%;
    min-height: 90vh;
    width: 90%;
    margin: 0 5%;
    justify-content: flex-start;
    align-items: center;
    gap:10px
}

.quien-soy__tipografia{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quien-soy__enlaces{
    width: 40%;
    justify-content: space-around;
    display: flex;
}

.enlaces__link{
    width: 100%;
   
}

/* MAIN */


.main__sobre-mi{
    width: 100%;
    margin: 0;

}

.sobre-mi__parrafo{
    opacity: 1;
    font-family: "Raleway";
}

/* MAIN SKILLS */

.main__conocimientos{
    height: auto;
    box-shadow: inset 0px 5px 20px #242424;
    background: linear-gradient(180deg, rgba(68,68,68,1) 0%, rgba(85,85,85,1) 25%, rgba(98,98,98,1) 50%, rgba(85,85,85,1) 75%, rgba(68,68,68,1) 100%);
}


.main__conocimientos__skills{
    height: auto;
    padding-top: 2.5em;    
}



.skills__flex-container{
    display: flex;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}


.skills__flex-item{
    width: 200px;
    height: 200px;
}

/* FORMACION ACADEMICA */

.formacion-academica__flex-container{
    display: flex;
    height: auto;
    width: 90%;
    margin: 0 5%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
}

.formacion-academica__item{
    width: 250px;
    height:80%;
    margin-bottom: 2em;
    
}

.formacion-academica__item__img img{
    width: 100%;
    height: 80%;
    border-radius: 5%;
}

.formacion-academica__item__text{
    display: flex;
    flex-direction: column;
    height: 140px;
    justify-content: space-between;
    align-items: center;
    
}


/* EXPERIENCIA PROFESIONAL */

.experiencia-profesional__flex-containers{
    display: flex;
    width: 100%;
    margin: 3em 0;
    justify-content: center;
    align-items: center;
    gap: 2.5%;
    background: #1e1e1e73;
    padding: 2em;
    box-shadow: 10px 10px 10px black
}

.experiencia-profesional__flex-containers:last-child{
    margin-bottom: 0;
}

.experiencia-profesional__tipografia{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    height: auto;
    
}

.experiencia-profesional .slider-container{
    width: 60%;
    height: 100%;
    margin-bottom: 5%;

}

/* FOOTER */

footer{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    
}

.contacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto__tipografia{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0 5%;
    box-sizing: border-box;
}

.contacto p{
    justify-self: flex-start;
    align-self: flex-start;
}

.contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  
}

.contacto__formulario__contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.5em;
    box-sizing: border-box;
    position: relative;
}

.contacto button {
    align-self: flex-start;
}

.contacto__contenedor-form-redes{
    width: 90%;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 2em;
}

.contenedor-redes{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.redes__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}



