/* FORMACION ACADEMICA */

.main__formacion-academica{
    --borderWidth: 3px;
    margin: var(--borderWidth) 0;
    background: url("../img/misc/textura-5.png");
    position: relative;
}



.formacion-academica__title{
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 2em;
    padding-top: 2em;
}

.formacion-academica__title h3{
    background-color: #414141;
    color: #191919;
}


.formacion-academica__item{
    transition: all 0.5s;
}

.formacion-academica__item:hover{
    transform: scale(1.2);
}

.formacion-academica__item__text h3{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-top: 1em;
}

.formacion-academica__item__text p{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

/* EXPERIENCIA PROFESIONAL */

.main__experiencia-profesional{
    padding-bottom: 3em;
}

.experiencia-profesional__tipografia h3 {
    text-align: center;
    color: #ffffff;
    
}

.experiencia-profesional__tipografia{
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
}

.experiencia-profesional__tipografia h3{
    font-size: 1.5em;
}

.experiencia-profesional__botones{
    width: 100%;
    display: flex;
    justify-content: center;
}

.botones__item {
    width: 45%;
    margin: 1% 2%;
    height: 3em;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
}

.botones__item:first-child{
    border: 2px solid orange;
}

.botones__item:nth-child(2){
    background-color: orange;    
}

.botones__item a{
    width: 100%;
    display: inline-block;
    color: black;
    text-decoration: none;
}

.botones__item a:hover {
    color: black;
}


.experiencia-profesional__flex-containers img{
    border-radius: 12px;
}